<link type="text/css" rel="stylesheet" href="/css/profile.css">
<div class="mt-4">
    <form method="POST" action="/me/upload-avatar" enctype="multipart/form-data">
    <div class="card">
        <div class="firstinfo"><img src="/uploads/{{userTarget.avatar}}" />
            <div class="profileinfo">
                <h1>{{userTarget.name}}</h1>
                <h3>{{userTarget.nickname}}</h3>
                <p class="bio">{{userTarget.bio}}</p>

            </div>
        </div>
    </div>
    </form>
</div>
{{#each data}}
        <div class="col-sm-6 col-lg-4">
            <div class="card-song" style="margin-top: 16px;">
                <a href="/song/{{this.slug}}">
                    <img src="{{this.image}}" class="card-img-top" alt="{{this.image}}">
                </a>
                <div class="card-body">
                    <a href="/song/{{this.slug}}">
                        <h5 class="card-title">{{this.name}}</h5>
                    </a>
                    <h6 class="card-text card-title">Upload By <a href="/me/profile/{{this.uploadBy}}">{{this.uploadBy}}</a></h6>
                    <p class="card-text">{{this.description}}</p>
                    <a href="/song/{{this.slug}}" class="btn btn-primary">Xem</a>
                    <a href="/song/update-song/{{this.slug}}" data-upload="{{this.uploadBy}}" id="liveToastBtn" class="btn btn-primary edit-video">Edit</a>
                    <a href="/" class="btn btn-primary delete-Toast" data-toggle="modal" data-upload="{{this.uploadBy}}" data-delete="{{this.slug}}">Delete</a>
                </div>
            </div>
        </div>
        {{else}}
        <div>
            <h1 class="empty-song">{{user.name}} Don't Have Any Song Here.</h1>
        </div>
{{/each}}

<script>
    document.addEventListener("DOMContentLoaded", function(){
        const username = "{{userTarget.username}}";

        if (username === "dqa") {
            const h3Element = document.querySelector(".profileinfo h1");
            if (h3Element) {
                const spanElement = document.createElement("span");
                spanElement.textContent = " ADMIN"; // Nội dung thêm vào
                spanElement.style.fontStyle = "italic";
                spanElement.style.fontSize = "20px";
                spanElement.classList.add("rgb-text");

                h3Element.appendChild(spanElement); // Chèn vào bên trong thẻ <h3>
            }
        }

    });
    
</script>