<div class="mt-4">
    <h1 class="card-text">Hello, {{user.name}}</h1>
    <form method="GET" id="search-input-forms" class="form-inline my-2 my-lg-0" action="/">
      <input id="search-input-song" class="form-control mr-sm-2 search-song-input" type="text" placeholder="Search Your Song Here" >
    </form>
    <div id="resultContainer" data-username="{{user.username}}" class="row">
        {{#each data}}
        <div class="col-sm-6 col-lg-4">
            <div class="card" style="margin-top: 16px;">
                <a href="/song/{{this.slug}}">
                    <img src="{{this.image}}" class="card-img-top" alt="{{this.image}}">
                </a>
                <div class="card-body">
                    <a href="/song/{{this.slug}}">
                        <h5 class="card-title">{{this.name}}</h5>
                    </a>
                    <h6 class="card-text card-title">Upload By <a href="/me/profile/{{this.uploadBy}}">{{this.uploadBy}}</a></h6>
                    <p class="card-text">{{this.description}}</p>
                    <a href="/song/{{this.slug}}" class="btn btn-primary">Xem</a>
                    <a href="/song/update-song/{{this.slug}}" data-upload="{{this.uploadBy}}" id="liveToastBtn" class="btn btn-primary edit-video">Edit</a>
                    <a href="/" class="btn btn-primary delete-Toast" data-toggle="modal" data-upload="{{this.uploadBy}}" data-delete="{{this.slug}}">Delete</a>
                </div>
            </div>
        </div>
        {{else}}
        <div>
            <h1 class="empty-song">We Don't Have Any Song Here. <a href="/song/admin-show">Upload Your Songs Now!</a></h1>
        </div>
        {{/each}}
        <!-- Modal -->
        <div class="modal fade" id="delete-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Notification</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are You Sure To Delete This Song?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                    <button type="button" class="btn btn-danger" id="delete-btn">Delete</button>
                </div>
                </div>
            </div>
            <form id="delete-song-form" method="POST">
            </form>
        </div>
    </div>
</div>
<div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0;">
  <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
    <div class="toast-header">
      <strong class="mr-auto">Admin</strong>
      <small>Just now</small>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">
      This is the your song you upload!
    </div>
  </div>
</div>
<script>
                
                document.addEventListener('DOMContentLoaded', function(){
                    var songId;
                    var deleteForm = document.forms['delete-song-form'];
                    var deleteBtn = document.getElementById('delete-btn');
                    var searchInput = $('#search-input-song');
                    $('#delete-modal').on('show.bs.modal', function (event) {
                        var button = $(event.relatedTarget);
                        songId = button.data('delete');
                    });
                    
                    deleteBtn.onclick = function() {
                        deleteForm.action = `/song/delete/` + songId + '?_method=DELETE';
                        deleteForm.submit();
                    };

                    $(document).on("click", "#liveToastBtn", function(event) {
                        let uploadUsername = $("#resultContainer").attr("data-username");
                        let uploadById = $(this).attr("data-upload");
                        if(uploadById !== uploadUsername){
                            event.preventDefault();
                            $("#liveToast").toast('show');
                        }else{
                            console.log("Success");
                        }
                        console.log(uploadUsername + uploadById);
                    });

                    $(document).on("click", ".delete-Toast", function(event) {
                        let uploadUsername = $("#resultContainer").attr("data-username");
                        let uploadById = $(this).attr("data-upload");
                        if(uploadById !== uploadUsername){
                            event.preventDefault();
                            $('.delete-Toast').removeAttr("data-target");
                            $("#liveToast").toast('show');
                        }else{
                            $('.delete-Toast').attr("data-target", "#delete-modal");
                            console.log(uploadUsername + uploadById);
                        }
                    });
                    
                    searchInput.on('input', function() {
                        const query = this.value.trim();
                        fetch(`/search?q=${encodeURIComponent(query)}`)
                            .then(response => response.text())
                            .then(html => {
                                document.getElementById('resultContainer').innerHTML = html;
                            })
                            .catch(error => console.error('Lỗi tìm kiếm:', error));
                    });
                });

            </script>